<body>
<h1> Welcome to Chitter </h1>
  
      <form action='/peep_created' method='post'>
      <input type="text" placeholder="write a peep" id='peep'>
      <input type="submit" value="Peep it" id='login-btn'>
      </form>

      <%= @pe %>

</body>